.movie-list {
    width: 1010px;
    height: 1147px;
    flex-shrink: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px;
    margin: 0 auto;
}

.movie-list .movie {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 454px;
    height: auto;
    margin: 20px auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.movie-list .poster {
    width: 183px;
    height: 281px;
    border: 1px solid #858585;
    margin-right: 20px;
}

.movie-list .movie-title {
    display: flex;
    justify-content: space-between;
}

.movie-list .movie-name {
    margin: 10px 0;
    max-width: 80%;
    color: #9d9c9a;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
}

.movie-list .movie-year {
    margin: 0;
    color: #827e7e;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
}

.movie-list .movie-genre {
    margin: 10px 0;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

}

.movie-list .description {
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    color: #9d9c9a;
    line-height: 22px;
    margin: 0;
    display: flex;
    flex-direction: column;

}

/*stars*/
.movie-list .rating {
    margin: 10px 0;
    font-size: 13px;
    box-shadow: 0 0 10px rgba(73, 73, 73, 0.5);
}
.ant-rate-star.ant-rate-star-zero {
    color: #c99c42;
}

.movie-list .movie-rating {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px 0;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: transparent;
    color: #9d9c9a;
    font-size: 14px;
}

.movie-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
